[submodule "agents/superpowers"]
	path = agents/superpowers
	url = https://github.com/obra/superpowers
[submodule "agents/gstack"]
	path = agents/gstack
	url = https://github.com/garrytan/gstack
[submodule "cli-tools/opencode"]
	path = cli-tools/opencode
	url = https://github.com/anomalyco/opencode
[submodule "cli-tools/nano-claude"]
	path = cli-tools/nano-claude
	url = https://github.com/dox012/nano-claude
[submodule "cli-tools/claw-code"]
	path = cli-tools/claw-code
	url = https://github.com/ultraworkers/claw-code
